@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  display: flex;/*aqui*/
  align-items: center;/*aqui*/
  justify-content: center; /*aqui*/
  background-color: steelblue; /*aqui*/
  color: #fff;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px; /*aqui*/
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3); /*aqui*/
  transform: translateX(400%); /*aqui*/
  transition: transform 0.4s ease; /*aqui*/
}

.box:nth-of-type(even) {
  transform: translateX(-400%); /*AQUI*/
}

.box.show {
  transform: translateX(0); /*AQUI*/
}

.box h2 {
  font-size: 45px;
}
